<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EvvvB - Data</title>
 
  <%- include('partials/header') %>
  <!-- HIGHCHARTS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css" />
</head>

<body>


    <h3>
      This area is still under construction...
    </h3>

    <!-- GRAPH CONTAINER -->
    <div id="container"></div>
    
    <!-- UPDATE -->
    <p><i>last update: 8/13/2020 @ 10:17</i></p>
    <p>
      I will be working on some backend stuff before we get back to this.
    </p>

    <%- include('partials/footer') %>
</body>

<script src="assets/js/highCharts.js"></script>
</html>