
  <%- include('partials/header') %>


<body>
    <h1>Evan's website</h1>
    <p>-learning to code! :)</p>
    <p>I plan on creating a blog area and 
      also creating an area to view data  
      that my raspberry pi records
    </p>
  <%- include('partials/footer') %>
</body>

</html>