<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>EvvvB - Main</title>
  <%- include('partials/header') %>
</head>



<body>
    <h2>Welcome!</h2>
    <p>I'm using this website to challenge myself
      to be more creative, and do more. To put into
      action ideas that I have. Whether simple or
      more complex, I feel like this is an outlet
      that will also help me grow as a developer.
    </p>
  
</body>
<%- include('partials/footer') %>
</html>