<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EvvvB - Main</title>
  <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel ="stylesheet" href="styles/styles.css">
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <style>

  </style>
  <%- include('partials/header') %>
</head>

<body>
    <h1>Evan's website</h1>
    <p>-learning to code! :)</p>
    <p>I plan on creating a blog area and 
      also creating an area to view data  
      that my raspberry pi records
    </p>
  <!-- <script src="js/scripts.js"></script> -->
  <%- include('partials/footer') %>
</body>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
</html>