<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Evans Website</title>
  <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <style>

  </style>
  <%- include('partials/header') %>
</head>

<body>
    <h1>Evan's website</h1>
    <p>-learning to code! :)</p>
    <p>This is a local website I'm not sure what to do with it yet.</p>
  <!-- <script src="js/scripts.js"></script> -->
  <%- include('partials/footer') %>
</body>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
</html>