<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>EvvvB - Main</title>
    <%- include('partials/header') %>
  </head>

  <body>
    <h2>Welcome!</h2>
    <p style="margin-bottom: 50px;">
      I'm using this website to challenge myself to be more creative, and do
      more with software. So this website is going to just have random things
      that I think of and want to test or try out.
    </p>
  </body>
  <%- include('partials/footer') %>
</html>
